/* Tables */
.table {border-color: #c9c9c9;}
.table th, .table td {border-top: 1px solid #c9c9c9;}
.table thead th {vertical-align: middle;}
.table-bordered {
    border: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding-bottom: 1px;
}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-left: 0;
}
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    border-left: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
    -moz-border-radius-topleft: 1px;
}
.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    -moz-border-radius-topright: 1px;
}
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 1px;
    border-bottom-left-radius: 1px;
    -moz-border-radius-bottomleft: 1px;
}
.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-right-radius: 1px;
    -moz-border-radius-bottomright: 1px;
}

.table-bordered tbody tr th:first-child {border-left: 0;border-right: 0;}
.table-bordered tbody tr td:first-child {border-left: 0;}
.table tbody + tbody { border-top: 2px solid #c9c9c9;}
.table-bordered th,.table-bordered td {border-left: 1px solid #c9c9c9;}
.table-bordered th:first-child{border-left: 0;}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {background: #e6e6e6;}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {background: #f7f7f7;}
.table-bordered thead th, .table-bordered tbody th {text-align: center;}
.table {background: #fcfcfc;}
.table thead, .table tfoot, .table tbody tr th {
    background: url(../images/patterns/furley_bg2.png);
    border-top: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}
.table tfoot{font-weight: bold;}
.table th, .table td{
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(255, 255, 255, 1);
}
.table tbody {border-left: 1px solid #c9c9c9;border-right: 1px solid #c9c9c9;border-bottom: 1px solid #c9c9c9;}
table .center {text-align: center}
table .vcenter {vertical-align: middle;}
.table tbody tr.success > td { 
    background: #e0f1d6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e0f1d6 0%, #cfe0c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f1d6), color-stop(100%,#cfe0c6));
    background: -webkit-linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
    background: -o-linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
    background: -ms-linear-gradient(top, #e0f1d6 0%,#cfe0c6 100%);
    background: linear-gradient(to bottom, #e0f1d6 0%,#cfe0c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f1d6', endColorstr='#cfe0c6',GradientType=0 );
    
}
.table tbody tr.error > td {
    background: #f3dfdf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f3dfdf 0%, #e2cece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3dfdf), color-stop(100%,#e2cece));
    background: -webkit-linear-gradient(top, #f3dfdf 0%,#e2cece 100%);
    background: -o-linear-gradient(top, #f3dfdf 0%,#e2cece 100%);
    background: -ms-linear-gradient(top, #f3dfdf 0%,#e2cece 100%);
    background: linear-gradient(to bottom, #f3dfdf 0%,#e2cece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3dfdf', endColorstr='#e2cece',GradientType=0 );
    
}
.table tbody tr.warning > td {
    background: #fff1c4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fff1c4 0%, #ede1b4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff1c4), color-stop(100%,#ede1b4));
    background: -webkit-linear-gradient(top, #fff1c4 0%,#ede1b4 100%);
    background: -o-linear-gradient(top, #fff1c4 0%,#ede1b4 100%);
    background: -ms-linear-gradient(top, #fff1c4 0%,#ede1b4 100%);
    background: linear-gradient(to bottom, #fff1c4 0%,#ede1b4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1c4', endColorstr='#ede1b4',GradientType=0 );
    
}
.table tbody tr.info > td {
    background: #daecf8;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #daecf8 0%, #c9dce8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daecf8), color-stop(100%,#c9dce8));
    background: -webkit-linear-gradient(top, #daecf8 0%,#c9dce8 100%);
    background: -o-linear-gradient(top, #daecf8 0%,#c9dce8 100%);
    background: -ms-linear-gradient(top, #daecf8 0%,#c9dce8 100%);
    background: linear-gradient(to bottom, #daecf8 0%,#c9dce8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daecf8', endColorstr='#c9dce8',GradientType=0 );
    
}
tr.rowlink:hover {cursor: pointer;}
tr.rowlink:hover td.nolink {cursor: default;}
.table-toolbar {
    background: #fcfcfc;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c9c9c9;
}
    .table-toolbar .btn-group {margin-left: 20px;margin-right: 20px;}


/* ------------------Pagination--------------------*/
.pagination {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    margin-left: 8px;
    border: 1px solid #c9c9c9;
    background-color: #f7f7f7;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(255, 255, 255, 1);
    font-weight: bold;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 1px;
    border-bottom-left-radius: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
    -moz-border-radius-bottomleft: 1px;
    -moz-border-radius-topleft: 1px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-right-radius: 1px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 1px;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: #f7f7f7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity: 0.75;
}
.pagination ul > .active > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
    background: none;
    -ms-filter: none;
    filter: none;
    box-shadow: none;
    border-color: transparent;
    color: inherit;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus {border-color: #bababa;background: #e6e6e6;}
/*YOUR CUSTOM STYLES*/


.validationControlErrorMessage{
    
    border: 2px solid;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 5px;
}
/*file upload styling*/
label.inputLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
.inputLabel {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #666;
  border: 1px solid #e6e6e6;
  display: inline-block;
}
.inputLabel:hover {
  background: #e6e6e6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-color: #ccc;
}
.inputLabel:active {
    background: #ffffff;
}
.inputLabel :invalid + span {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #666;
  padding: 5px;
  background: #bd362f;
  color: #fff !important;
}
.inputLabel :valid + span {
    
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #666;
  padding: 5px;
  background: #51a351;
  color: #fff !important;
}
.product-thumb-horizontal .product-meta-left {
  position: absolute;
  width: 40%;
  margin-top: 0;
  top: 0;
  right: 0;
  padding: 20px 22px;
  text-align: left;
}/* ------------------Modal Popups--------------------*/
.ModalPopup
{
background-color: White;
padding: 10px;
    }  
.ModalPopupBG
{
    background-color: #2B3039;
    filter: alpha(opacity=50);
    opacity: 0.7;
}
/* ------------------Admin Help--------------------*/
.Honey {
    background-color: hotpink;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}  